{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}
    {{ "app.ui.plum_scanner.title"|trans }}
{% endblock %}

{% set iconLibUrl = asset('build/shop/images/icon-lib.svg', 'shop') %}

{% block content %}
    <div class="container container--compact">
        <h1 class="page-title t-header-large">{{ "app.ui.plum_scanner.heading"|trans|raw }}</h1>

        {% include 'Shop/PlumScanner/Quote/Partial/_steps.html.twig' with { step: 2 } %}

        <div class="panel u-padding-t-5 u-margin-b-8">
            <div class="flush-row">
                <div class="flush-column @md:flush-column-fit-content t-header-small @md:u-margin-r-3">1.</div>
                <div class="flush-column @md:flush-column-fill-space">
                    <p class="t-header-small">
                        {{ 'app.ui.plum_scanner.step_two.connect_ikea.title'|trans|raw }}
                    </p>
                    <p class="t-base-medium u-margin-t-3">
                        {{ 'app.ui.plum_scanner.step_two.connect_ikea.warning'|trans|raw }}
                    </p>
                    <div class="flush-row u-margin-t-5 u-margin-b-5">
                        <a class="button u-margin-b-3 @md:flush-column-fill-space @md:u-margin-b-0 t-normal" href="{{ path('app_plum_scanner_share_plan_via_link', {
                            'designCode': designOption.code,
                            'finishCode': finishOption.code,
                            'colorCode': colorOption.code,
                            'ikeaConnected': true
                        }) }}">
                            {{ 'app.ui.plum_scanner.step_two.connect_ikea.new_version_btn'|trans }}
                            <svg class="o-icon-24 o-icon--right"><use xlink:href="{{ iconLibUrl }}#SVG-icon-arrow-right"/></svg>
                        </a>
                        <a class="button @md:flush-column-fill-space @md:u-margin-l-4 t-normal" href="{{ path('app_plum_scanner_share_plan', {
                            'designCode': designOption.code,
                            'finishCode': finishOption.code,
                            'colorCode': colorOption.code,
                            'ikeaConnected': true
                        }) }}">
                            {{ 'app.ui.plum_scanner.step_two.connect_ikea.old_version_btn'|trans }}
                            <svg class="o-icon-24 o-icon--right"><use xlink:href="{{ iconLibUrl }}#SVG-icon-arrow-right"/></svg>
                        </a>
                    </div>

                    {# Modal Trigger #}
                    <button class="func-button u-fullwidth t-base-medium t-link-wrapper c-grey-light hover:c-near-black" id="IKP-versions-modal-trigger">
                        <span class="t-link-proxy">{{ 'app.ui.plum_scanner.step_two.connect_ikea.which_ikea_version'|trans }}</span>
                        <svg class="o-icon-24 o-icon--right"><use xlink:href="{{ iconLibUrl }}#SVG-icon-infos"/></svg>
                    </button>
                    {# END: Modal Trigger #}
                </div>
            </div>

        </div>

        <p class="t-header-small u-margin-b-4 t-align-center">
            {{ 'app.ui.plum_scanner.step_two.connect_ikea.need_help'|trans }}
        </p>
        <div class="u-cross-centered-row u-h-spaced-2">
            <a class="big-honking-button big-honking-button--inversed ripple-button" target="_blank"
               href="{{ path('project_index') }}">
                {{ 'app.ui.plum_scanner.step_two.connect_ikea.budgets_examples'|trans }}
            </a>
            {% set ikpManualUrl = get_url_from_page_code(constant('App\\Provider\\CMS\\PageCode\\PageCodeProvider::PAGE_ARTICLE_IKP_MANUAL'), constant('App\\Entity\\Page\\Page::PAGE_TYPE_ARTICLE')) %}
            <a href="{{ ikpManualUrl }}" class="big-honking-button big-honking-button--inversed ripple-button" target="_blank">
                {{ 'app.ui.plum_scanner.step_two.connect_ikea.how_to_use'|trans }}
            </a>
        </div>
    </div>

    {# Modal #}
    <div class="ui-modal ui-modal--large ui-modal--has-border ui-modal--dark" id="IKP-versions-modal">
        <div class="ui-modal__scrollbox u-y-scrollable">
            <div class="ui-modal__dialog">
                {% include 'Shop/PlumScanner/Quote/StepTwo/_ikea_version_popup.html.twig' %}
            </div>
        </div>
    </div>

    <div class="ui-modal ui-modal--has-border ui-modal--dark" id="missing-front-modal">
        <div class="ui-modal__scrollbox u-y-scrollable">
            <div class="ui-modal__dialog">
                <div class="ui-modal__content flush-row u-center-on-main">
                    <div class="@sm:flush-column-10 @md:flush-column-fill-space @md:u-margin-l-4">
                        <h2 class="u-margin-b-2 t-header-medium">
                            {{ 'app.ui.plum_scanner.step_two.missing_front.modal_title'|trans }}
                        </h2>
                        <p class="u-margin-b-2">
                            {{ 'app.ui.plum_scanner.step_two.missing_front.modal_subtitle'|trans|raw }}
                        </p>
                        <p class="u-margin-b-2">
                            {{ 'app.ui.plum_scanner.step_two.missing_front.modal_content'|trans|raw }}
                        </p>
                        <a class="button button--inversed">
                            {{ 'app.ui.plum_scanner.step_two.missing_front.modal_button_text'|trans }}
                            <svg class="o-icon-24 o-icon--right"><use xlink:href="{{ iconLibUrl }}#SVG-icon-arrow-right"/></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# END: Modal #}
{% endblock %}
