<div id="sylius_product_variant_channelPricings">
    {{ form_errors(channelPricingsForm) }}
    <div class="ui top attached tabular menu">
        {% for channelId, channelPricing in channelPricingsForm %}
            {% if loop.index0 == 0 %}
                <a class="item active" data-tab="{{ channelId }}">{{ channelPricing.vars.label }}</a>
            {% else %}
                <a class="item" data-tab="{{ channelId }}">{{ channelPricing.vars.label }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% for channelId, channelPricing in channelPricingsForm %}
        <div class="ui bottom attached tab segment {% if loop.index0 == 0 %}active{% endif%}"
             data-tab="{{ channelId }}">
            {{ form_row(channelPricing, {'label': false}) }}
        </div>
    {% endfor %}
</div>
