{% extends '@SyliusShop/Account/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.change_password'|trans }} | {{ parent() }}{% endblock %}

{% block subcontent %}
    <main class="panel account-password-panel panel--big-chin panel--big-cheeks">
        <h1 class="panel__title t-header-medium">{{ 'app.ui.account.password.title'|trans }}</h1>
        {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'class': 'panel__content row'}}) }}
            {{ sylius_template_event('sylius.shop.account.change_password.after_content_header', {'form': form}) }}
            
            <div class="column @md:column-6 u-margin-b-5">
                {% include 'Shop/Form/_text_field.html.twig' with {
                    'field': form.currentPassword,
                    'attributes': {'type': 'password' }
                } %}
            </div>

            <div class="column"></div>

            <div class="column @md:column-6 u-margin-b-2.5 @md:u-margin-b-auto">
                {% include 'Shop/Form/_text_field.html.twig' with {
                    'field': form.newPassword.first,
                    'attributes': {'type': 'password' }
                } %}
            </div>
            <div class="column @md:column-6">
                {% include 'Shop/Form/_text_field.html.twig' with {
                    'field': form.newPassword.second,
                    'attributes': {'type': 'password' }
                } %}
            </div>

            {{ sylius_template_event('sylius.shop.account.change_password.form', {'form': form}) }}

            <button type="submit" class="big-honking-submit" {{ sylius_test_html_attribute('save-changes') }}>{{ 'app.ui.generic.save'|trans }}</button>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </main>
{% endblock %}
