{% extends '@SyliusShop/layout.html.twig' %}

{% set customer = app.user.customer %}
{% set iconLibUrl = asset('build/shop/images/icon-lib.svg', 'shop') %}

{% block content %}
    <div class="container container--narrow">
        <div class="page-header t-align-center">
            {% if customer.user.verified %}
                <div class="page-title t-header-large u-margin-b-4 u-hidden">{{ 'app.ui.account.hello'|trans({'%firstName%': customer.firstName}) }}</div>
            {% else %}
                <div class="page-title t-header-large u-margin-b-1">{{ 'app.ui.account.hello'|trans({'%firstName%': customer.firstName}) }}</div>
                <div class="u-margin-b-5">
                    <span class="t-base-medium c-terra">{{ 'app.ui.generic.email_not_verified'|trans }}</span>
                    <form class="u-inline-block u-margin-l-2" id="verification-form" {{ sylius_test_html_attribute('verification-form') }} action="{{ path('sylius_shop_user_request_verification_token') }}" method="post">
                        <button type="submit" class="link-button" {{ sylius_test_html_attribute('verification-button') }}>{{ 'app.ui.generic.verify_now'|trans }}</button>
                    </form>
                </div>
            {% endif %}
        </div>

        {{ sylius_template_event('sylius.shop.account.layout.menu') }}

        {{ sylius_template_event('sylius.shop.account.layout.before_subcontent') }}
        {% block subcontent %}
        {% endblock %}
        {{ sylius_template_event('sylius.shop.account.layout.after_subcontent') }}

        <div class="t-align-center u-margin-t-5">
            <a class="link-button c-grey-mid" href="{{ path('sylius_shop_logout') }}">
                <svg class="o-icon-16 u-margin-r-1"><use xlink:href="{{ iconLibUrl }}#SVG-icon-arrow-right"/></svg>
                {{ 'app.ui.generic.logout'|trans }}
            </a>
        </div>

    </div>
{% endblock %}
