{% extends '@SyliusShop/layout.html.twig' %}
{% import 'Shop/Common/Macro/messages.html.twig' as messages %}

{% block title %}
    {{ "app.ui.plum_scanner.title"|trans }}
{% endblock %}

{% block content %}
    <div class="container container--compact">
        <div class="panel panel--big-chin panel--big-cheeks">
            <h3 class="panel__title t-header-medium">{{ 'app.ui.login_register.reset_of_your_password'|trans }}</h3>
            <div class="panel__content">
                {{ form_start(form, {
                    'action': path('sylius_shop_password_reset',{
                        'token' : user.passwordResetToken
                    })})
                }}

                <div class="row u-margin-b-6 @md:u-margin-b-auto">
                    <div class="column u-margin-b-4 @md:u-margin-b-5">
                        {% include 'Shop/Form/_text_field.html.twig' with { 'field': form.password.first, 'attributes': { 'type': 'password' } } %}
                    </div>
                    <div class="column u-margin-b-4 @md:u-margin-b-5">
                        {% include 'Shop/Form/_text_field.html.twig' with { 'field': form.password.second, 'attributes': { 'type': 'password' } } %}
                    </div>
                </div>

                {{ form_row(form._token) }}

                <button type="submit" class="big-honking-submit ripple-button">
                    {{ 'app.ui.login_register.btn_reset_password'|trans }}
                </button>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

