<div class="media-panoramic-photo-only u-padding-b-7">
    {% if element.margin == 'margin' %}
        <div class="container">
            <div class="row u-padding-t-7">
                <div class="column-fill-space">
                    <img src="{{ element.image | raw }}"
                         alt="{{ element.image_alt | raw }}"
                         title="{{ element.image_title | raw }}">
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="column-fill-space">
                    <img src="{{ element.image | raw }}"
                         alt="{{ element.image_alt | raw }}"
                         title="{{ element.image_title | raw }}">
                </div>
            </div>
        </div>
    {% endif %}
    {% if element.caption  %}
        <div class="container">
            <div class="row">
                <div class="column-fill-space">
                    <div class="caption">
                        {{ element.caption | raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
