<div class="ui grid">
    <div class="aligned eight wide column">
        <img src="{{ element.image_left | raw }}" width="100%"
             alt="{{ element.image_left_alt | raw }}"
             title="{{ element.image_left_title | raw }}">
    </div>
    <div class="aligned eight wide column">
        <img src="{{ element.image_right | raw }}" width="100%"
             alt="{{ element.image_right_alt | raw }}"
             title="{{ element.image_right_title | raw }}">
    </div>
</div>
