<div class="ui grid">
    <div class="aligned eight wide column">
        <h3>{{ ('app.cms_page.media_article.page.at_ikea')|trans }}</h3>
        {% for item in element.ikea %}
            {{ item.quantity }} x {{ item.ikea.product }} <br>
        {% endfor %}
        <h3>{{ ('app.cms_page.media_article.page.at_plum')|trans }}</h3>
        {% for item in element.plum %}
            {{ item.quantity }} x {{ item.plum.product_variant }} <br>
        {% endfor %}
        <br>

    </div>
    <div class="aligned eight wide column">
        <img src="{{ element.image | raw }}" width="100%"
             alt="{{ element.image_alt | raw }}"
             title="{{ element.image_title | raw }}">
    </div>
</div>
