{% set iconLibUrl = asset('build/shop/images/icon-lib.svg', 'shop') %}

{% set hasDesign = design is defined and design is not null %}
{% set selectedDesign = hasDesign ? design : null %}

{% set hasFinish = finish is defined and finish is not null %}
{% set selectedFinish = hasFinish ? finish : null %}

{% set hasColor = color is defined and color is not null %}
{% set selectedColor = hasColor ? color : null %}

<div class="tunnel-sidebar u-margin-b-4 @lg:u-margin-r-5 @lg:u-fit-content">
    <div class="tunnel-sidebar__list">
        <div class="tunnel-sidebar__item{% if design is defined and design is null  %} active {% else %} validate {% endif %}">
            <div class="item-content">
                <svg class="tunnel-sidebar__icon o-icon-16">
                    <use xlink:href="{{ iconLibUrl }}#SVG-icon-design"/>
                </svg>
                <a href="{{ path('app_plum_scanner_get_designs') }}" class="t-base-xsmall">{{ "app.ui.tunnel_shopping.design"|trans }}</a>
            </div>

            <a {% if hasDesign %} href="{{ path('app_plum_scanner_get_finishes', { 'designCode': design.code }) }}" {% endif %}
            class="item-choice t-base-xsmall design-breadcrumb">
                {{ selectedDesign ?? '' }}
            </a>
        </div>

        <div class="tunnel-sidebar__item{% if design is not null and finish is defined and (color is not defined or color is null) %} active {% elseif color is defined and color is not null %} validate{% endif %}">
            {%  set classFinish="details-colors-item ui facade" %}
            <div class="item-content">
                <svg class="tunnel-sidebar__icon o-icon-16">
                    <use xlink:href="{{ iconLibUrl }}#SVG-icon-finition"/>
                </svg>
                <a class="t-base-xsmall">{{ "app.ui.tunnel_shopping.finishes_and_colors"|trans }}</a>
            </div>

            <a {% if hasFinish %} href="{{ path('app_plum_scanner_get_colors', { 'designCode': design.code, 'finishCode': finish.code }) }}" {% endif %}
            class="item-choice t-base-xsmall finish-breadcrumb">
                {{ selectedFinish ?? ''}}
            </a>

            <a {% if hasColor %} href="#" {% endif %}
            class="item-choice t-base-xsmall color-breadcrumb">
                {{ selectedColor ?? '' }}
            </a>
        </div>
    </div>
</div>
